<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{title}}!
  </h1>
</div>

<app-targets-table
  [targetHistories]="targetHistories"
  [clients]="clients"
  [clientSites]="clientSites"
  [clientLOBs]="clientLOBs"
  [kpis]="kpis"></app-targets-table>
