<div class="grid">
  <div class="grid-top" *ngIf="lineChartData">
    <canvas baseChart #baseChart="base-chart" width="100" height="40"
            [datasets]="lineChartData"
            [labels]="lineChartLabels"
            [options]="lineChartOptions"
            [colors]="lineChartColors"
            [legend]="lineChartLegend"
            [chartType]="lineChartType"></canvas>
  </div>
  <div class="grid-left">
    <div class="title">Filters</div>
    <div class="filter-table">
      <div class="table-row">
        <div class="table-cell padded">
          <md-select placeholder="Client" [(ngModel)]="selectedClient" (change)="validate(); filter();">
            <md-option *ngFor="let client of clients" [value]="client">
              {{client.name}}
            </md-option>
            <md-option [value]="null">All</md-option>
          </md-select>
        </div>
      </div>
      <div class="table-row">
        <div class="table-cell padded">
          <md-select placeholder="Sites (select a client)" [(ngModel)]="selectedSite" (change)="filter();">
            <md-option *ngFor="let site of validSites" [value]="site">
              {{site.name}}
            </md-option>
            <md-option [value]="null">All</md-option>
          </md-select>
        </div>
      </div>
      <div class="table-row">
        <div class="table-cell padded">
          <md-select placeholder="LOB (select a client)" [(ngModel)]="selectedLOB" (change)="filter();">
            <md-option *ngFor="let lob of validLOBs" [value]="lob">
              {{lob.name}}
            </md-option>
            <md-option [value]="null">All</md-option>
          </md-select>
        </div>
      </div>
      <div class="table-row">
        <div class="table-cell padded">
          <md-select placeholder="KPI" [(ngModel)]="selectedKPI" (change)="filter();">
            <md-option *ngFor="let kpi of kpis" [value]="kpi">
              {{kpi.name}}
            </md-option>
            <md-option [value]="null">All</md-option>
          </md-select>
        </div>
      </div>
    </div>
  </div>
  <div class="grid-right">
    <div class="title">Targets</div>
    <div class="table">
      <div class="table-row headers">
        <div class="table-cell">Client</div>
        <div class="table-cell">Site</div>
        <div class="table-cell">LOB</div>
        <div class="table-cell">KPI</div>
        <div class="table-cell">Date Changed</div>
        <div class="table-cell">Target</div>
        <div class="table-cell">Actions</div>
      </div>
      <div class="table-row" *ngFor="let target of filteredTargets">
        <div class="table-cell">{{target.client.name}}</div>
        <div class="table-cell">{{target.site.name}}</div>
        <div class="table-cell">{{target.lob.name}}</div>
        <div class="table-cell">{{target.kpi.name}}</div>
        <div class="table-cell"><input mdInput type='number' [(ngModel)]="target.day" (change)="filter()"></div>
        <div class="table-cell"><input mdInput type='number' [(ngModel)]="target.target" (change)="filter()"></div>
        <div class="table-cell">
          <button md-raised-button (click)="delete(target)">Delete</button>
        </div>
      </div>
      <div class="table-row new-target-row" *ngIf="newTargetFormEnabled">
        <div class="table-cell">{{selectedClient.name}}</div>
        <div class="table-cell">{{selectedSite.name}}</div>
        <div class="table-cell">{{selectedLOB.name}}</div>
        <div class="table-cell">{{selectedKPI.name}}</div>
        <div class="table-cell"><input mdInput type='number' [(ngModel)]="newTargetDay"></div>
        <div class="table-cell"><input mdInput type='number' [(ngModel)]="newTarget"></div>
        <div class="table-cell">
          <button md-raised-button [disabled]="!isValid()" (click)="addTarget()">Create New Target</button>
        </div>
      </div>
    </div>
  </div>
</div>
