.grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  width: 1200px;
  grid-gap: 20px;
  margin: auto;
}

.title {
  font-size: 22px;
  text-align: center;
  border-bottom: 3px solid black;
}

.padded {
  padding-top: 25px;
  padding-bottom: 5px;
}

.grid-top {
  grid-column: 1/3;
  border: 1px solid black;
}

.grid-left {
  grid-column: 1;
}

.grid-right {
  grid-column: 2;
}

.filter-table {
  display: table;
  width: 200px;
  margin: auto;
  border-collapse: collapse;
}

.table {
  display: table;
  margin: auto;
  width: 1000px;
  border-collapse: collapse;
}

.headers {
  font-weight: bold;
}

div.table-row {
  display: table-row;
  height: 40px;
  border-bottom: 1px solid lightgray;
}

div.table-cell {
  display: table-cell;
  vertical-align: middle;
}

.new-target-row {
  background: lightgreen;
}
